*
{
    box-sizing: border-box;
    margin:0;
    background:linear-gradient(grey,white);
}
h1
{
    text-align: center;
    margin-top: 20px;
    width:100%;
    /* background: linear-gradient(grey,white); */
}
.slide-container
{
    position:relative;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    margin:25px;
   
    
}
.slide img
{
    width:100%;
    height:550px;
    border:2px solid black;
    border-radius: 10px;
}
.arrow
{
    cursor:pointer;
    position:absolute;
    top:45%;
    color:black;
    background-color: rgb(237, 237, 237);
    padding:8px 15px;
    border-radius: 60%;
    font-size: 20px;
    font-weight: bold;
}
.next
{
    right:250px;
}
.prev
{
    left:250px;
}
.slide
{
    display:none;
}